doctype html
html
  head
    title Image Search
    meta(name='description' content='Image data')
    link#favicon(rel='icon' href='https://i.chzbgr.com/full/9035428096/h882D54CB/' type='image/x-icon')
    meta(charset='utf-8')
    meta(name='viewport' content='width=devide-width, initial-scale=1')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous")
    link(rel='stylesheet' href='/style.css')

  body.center-column-around
    h1.text-center Results
    ul.list-unstyled
      each image in images
        li.media.border.border-primary
          img.align-self-center(src=image.url alt=image.altText height="175px")
          div.media-body.text-center.center-column-around
            h5 #{image.altText}
            div
              a(href=image.source) Source
            div
              a(href=image.thumbnail) Thumbnail
    p.footer
      -var arr = [];
      -if (offset < 4) arr = [1,2,3,4,5]
      -else arr = [offset-2,offset-1,offset,offset+1,offset+2]
      each val in arr
        a(href="https://erratic-ostrich.glitch.me/imagesearch/" + keyword + "?offset=" + val)= val 
        if val !== 5
          | &nbsp;|        
        
    
    
    script(src='https://code.jquery.com/jquery-2.2.1.min.js', integrity='sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=', crossorigin='anonymous')
    script(src='/client.js')
    
